#  
# Create `dev.env` file and load following required values
#  
NATS_URL=nats://localhost:4222/
NATS_USER=test
NATS_PW=test
GRAPHQL_URL=http://localhost:8080/graphql
CLIENT_URL=http://localhost:3000
ZIPKIN_URL=localhost
ZIPKIN_PORT=9411
PROMETHEUS_API_URL=https://prometheus.blancboard.com/
DB_TYPE=mysql
DB_HOST=localhost
DB_USER=mysql
DB_PASSWORD=
DB_SOCKET_PATH=
DB_DATABASE=test
LOG_LEVEL=trace
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET
AUTH0_DOMAIN=
GITHUB_PERSONAL_ACCESS_TOKEN=